{% extends 'plantillaProductoe.html' %}
{%load static%}
{% block informacion %}
<form action="{% url 'eproducto' lista.idProducto %}" method="post" name="formulario" id="form1" enctype="multipart/form-data">
    {% csrf_token %}
<div class="col-md-3">
    <img src="{{ lista.foto.url }}" alt="" class="img-fluid foto">
    <div class="form-group" style="margin-top: 5px;">
        <input type="file" class="form-control" id="subir" name="subir" style="visibility: visible;" accept="image/png, image/jpeg, image/jpg" required value="{{ lista.foto.url }}"> 
    </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-1"></div>
<div class="col-md-7">
    <div class="row">
        <h5>Nombre producto:</h5>
        <h2><input type="text" class="form-control" id="nombre" name="nombre" value="{{ lista.nombre }}" size="10"></h2>
    </div>
    <div class="row">
        {% if lista.preciooferta != 0 %}
            <h1 class="precio">Precio oferta: ${{ lista.preciooferta }}</h1>
            <h5>Precio referencia: $ {{ lista.precio }}</h5>
        {% else %}
            <h5>Precio actual:</h5>
            <h2><input type="number" class="form-control " id="precio" name="precio" value="{{ lista.precio }}" size="10"></h2>
        {% endif %}
    </div>
    <div class="row">
        <h6>Stock actual: {{ lista.stock }}</h6>
    </div>
    
    <div class="row align-items-center">
        <h2><input type="number" id="quantity" name="quantity" min="1" class="quantity form-control" size="10" value="{{ lista.stock }}"></h2>
    </div>
    <div class="row" style="margin-top: 5%;">
        <hr>
        <div class="form-group">
            <label for="exampleFormControlTextarea1"><h5>Descripcion</h5></label>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="3">{{ lista.descripcion }}</textarea>
          </div>
    </div>
    <div class="row" style="margin-top: 5%;">
        <h5>Detalles</h5>
        <hr>
        <h5>Marca:</h5>
        <h2><input type="text" class="form-control " id="marca" name="marca" value="{{ lista.marca }}" size="10"></h2>
        <h5>Color: </h5>
        <h2><input type="text" class="form-control " id="color" name="color" value="{{ lista.color }}" size="10"></h2>
    </div>
    <button class="boton fuente">Modificar producto</button>
    </form>
</div>
{% endblock informacion %}

{% block footer %}
<div class="container-fluid">
    <footer style="text-align: center;"
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="row">
            <div class="col-12-sm"><img src="{%static 'img/footer-removebg-preview.png' %}" class="img-fluid"></div>
        </div>
        <div class="row">
            <div class="col-4-sm block"></div>
            <div class="col-4-sm block justify-content-center">
                <h3>Musicpro.cl - Todos los derechos reservados</h3>
            </div>
            <div class="col-4-sm block"><img src="{%static 'img/tarjetas.png' %}" class="img-fluid"></div>
        </div>
    </footer>
</div>
{% endblock footer %}